

.rfbp-post {

   @extend .columns;
   @extend .rel;

   border-bottom: none !important;
   outline-bottom: none !important;

   img {
      max-height: 35vh !important;
   }

   height: auto !important;
   @extend .p-0-2;

   padding-bottom: 32px;

   @extend .end;
   // @extend .m-b-2;
   // height: auto !important;
   background-color: #1a1a1a;

   color: #aaa;

   @extend .font2;

   div {
      height: auto;
      @extend .columns;
   }


   // @extend .font-s;
   @extend .p-1;

   .rfbp-heading {
      // @extend .font-m;
      display: none;
      width: 100% !important;
      float: left;
   }

   .rfbp-image-wrap {
      @extend .w-100;
      height: auto;
      text-align: center;
      @extend .m-b-2;
   }


   // .rfbp-image-link,
   // .rfbp-image {
   //    @extend .h-25-v;
   // }

   .rfbp-text {
      float: left;
      width: 100% !important;
      p {
         margin-bottom: 0;
         @extend .font-s;
         @extend .font2;
         color: #aaa;
      }
   }

   .rfbp-post-link-wrap {
      @extend .w-100;
      @extend .absDownR;
      clear: both;
      background-color: #141414;
      @extend .p-0-2;
      text-align: center;
      border: none !important
   }

   a, .rfbp-comment-count, .rfbp-like-count {
      background-color: #141414 !important;
      color: #fa0 !important;

   }

   * {
      border: none !important;
   }
}


@debug 'Off Limits - facebook'
