@import "header";
@import "colores";
@import "tipografia";
@import "facebook";




// personalización del plugin Recent Facebook Posts

iframe {
   width: 100%;
}


body {
   background-color: #0a0a0a;
   color: #fff;
}



.imgfx1 {
   -webkit-filter: grayscale( 75% );
   -moz-filter: grayscale( 75% );
   -ms-filter: grayscale( 75% );
   -o-filter: grayscale( 75% );
   filter: grayscale( 75% );

   -webkit-transition: -webkit-filter 400ms linear;
   -moz-transition:-moz-filter 400ms linear;
   -moz-transition:  filter 400ms linear;
   -ms-transition:  -ms-filter 400ms linear;
   -o-transition: -o-filter 400ms linear;
   transition:  filter 400ms linear;

   &:hover {
      -webkit-filter: grayscale( 0% );
      -moz-filter: grayscale( 0% );
      -ms-filter: grayscale( 0% );
      -o-filter: grayscale( 0% );
      filter: grayscale( 0% );
   }
}


/** SLIDER */


.slick-next,
.slick-prev {
   &:before {
      @extend .font-xxl;
      z-index: 10001;
   }
}
.slick-prev {
   @extend .m-l-2;
}
.slick-next {
   @extend .m-r-3;
}


$class-slug: h;
$step: 75px;


@for $i from 1 through 8 {
   .#{$class-slug}-#{$i}x {
      height: $step * $i;
   }
}


[type=submit],
input, textarea {
   background-color: #333 !important;
   color: white !important;
   border: none !important;
   padding: 8px;
}


.fotolinea {
   min-height: 35vh;
   opacity: 0.3;

}

@debug "Off Limits: SASS listo";
